.services-main {
	font-family: "Rubik";
	background-color: rgba(229, 229, 229, 0.4);
}

.services-main .row {
	margin: 0px;
	padding: 0px;
}

.hr {
	height: 1px;
	background-color: #28b04b;
	border-width: 0px;
	width: 200px;
	margin: 0px;
	padding: 0px;
	margin-left: 30px;
	margin-top: 10px;
}

.services-main .service-category .one {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
	width: 100%;
	padding: 10px;
	text-align: center;
	justify-content: space-evenly;
}
.services-main .service-category .two {
	width: 47%;
}

.services-main .service-category .cat {
	cursor: pointer;
	background-color: white;
	padding: 10px 0px;
	width: 100px;
	border-radius: 10px;
	margin-top: 10px;
	float: left;
	border: 1px solid white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.services-main .service-category .cat:hover {
	border: 1px solid #28b04b;
}

.services-main .service-category .labell {
	font-size: 10px;
	margin-top: 20px;
}

.services-main .service-category img {
	height: 40px;
}

.services-main h1,
h2 {
	font-weight: bolder;
	color: #28b04b;
}

.services-main h1 {
	font-size: 40px;
}

.services-main .top-content {
	padding: 40px 0px 20px 30px;
}

.services-main .top-content p {
	font-size: 17px;
	line-height: 30px;
	color: #68696a;
	margin-top: 20px;
	word-spacing: 5px;
}

.services-main .sell-online {
	/* margin: 0px 0px; */
	margin: 30px 0px;
	padding-left: 20px;
}

.services-main .partner-main {
	margin: 0px;
	padding: 0px;
}

.services-main .partner-card {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	max-height: 350px;
	background-color: white;
	border-radius: 10px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.1));
}
.services-main .partner-card .col-md-4,
.services-main .partner-card .col-md-7 {
	padding: 0px;
	margin: 0px;
}
.services-main .partner-card .col-md-4 {
	display: flex;
	border-radius: 10px;
	height: 350px;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
}
.services-main .partner-card .col-md-7 p {
	color: #6e798c;
	font-size: 13px;
	margin-top: 30px;
}

.services-main .partner-card .col-md-7 {
	max-height: 350px;
	padding: 20px;
}

.sub-title {
	color: #28b04b;
	margin: 20px 0px 00px 0px;
}

.services-main .partner-card .avial-now {
	color: white;
	font-weight: bold;
	width: fit-content;
	border-radius: 40px;
	cursor: pointer;
	padding: 10px 30px;
	margin-top: 30px;
	background-color: #28b04b;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.services-main .partner-card .img-responsive {
	width: 250px;
}
@media (min-width: 48rem) and (max-width: 75rem) {
	.services-main .top-content {
		text-align: center;
	}
	.services-main .service-category .one {
		display: grid;
		/* justify-content: space-around; */
		grid-template-columns: auto auto auto auto;
	}

	.services-main .partner-card {
		display: flex;
	}
}

@media (min-width: 992px) and (max-width: 1240px) {
	.services-main .partner-card .col-md-7,
	.services-main .partner-card {
		max-height: 420px;
	}
	.services-main .partner-card .col-md-4 {
		height: 420px;
	}
}

@media (max-width: 48rem) {
	.services-main {
		margin: 0px;
		padding: 0px;
	}
	.services-main .row {
		/* margin: 0px 30px; */
		padding: 0px;
	}
	.services-main .top-content {
		text-align: center;
	}
	.services-main .top-content p {
		padding-right: 20px;
	}

	.services-main .service-category .one {
		display: grid;
		/* justify-content: space-around; */
		grid-template-columns: auto auto auto;
	}
	.services-main .partner-card {
		display: flex;
		min-height: 350px;
		width: 100%;
	}
	.services-main .partner-card .col-md-7 {
		padding: 10px 10px 0px 10px;
	}
	.hr {
		height: 0.9px;
		width: 150px;
		color: #28b04b;
		margin-left: 30px;
	}
	.services-main .partner-card .col-md-4 {
		width: 32vw;
	}
	.services-main .partner-card .avial-now {
		margin-bottom: 20px;
	}
	.services-main .partner-card .img-responsive {
		max-width: 30vw;
	}
	.services-main .partner-card .col-md-4 .img-responsive {
		width: auto;
	}
}
