.navbar {
	font-family: "Rubik";
}
#header-main {
	background-color: white;
	padding: 15px 0px 15px 40px;
}

#header-main .a {
	color: grey;
}

#header-main .active {
	color: #28b04b;
}

.navbar-default {
	margin: 0px;
}

.navbar-header button {
	border: 0px;
}

#header-main .a:active {
	color: #28b04b;
}

.navbar-brand {
	padding: 0px;
}
.navbar-brand img {
	width: 150px;
	vertical-align: middle;
}
.navbar-brand img:active {
	background-color: transparent;
}

.navbar-right .a {
	font-weight: bold;
	font-size: 17px;
}

@media (max-width: 48rem) {
	#header-main {
		padding: 10px 0px 10px 25px;
	}
	.navbar-right .a {
		font-size: smaller;
	}
}
