.home-container {
	color: #68696a;
	font-family: "Rubik", sans-serif;
	min-height: 85vh;
}

.home-container a {
	text-decoration: none;
	color: #68696a;
}

.home-container .row1 {
	margin: 0px;
	padding: 0px 0px 0px 40px;
}

.home-container .contest-banner {
	width: 300px;
	height: 200px;
	margin-top: 29px;
	position: absolute;
}

.tc {
	font-weight: lighter;
}

.tc .site {
	font-weight: bolder;
	font-size: medium;
}

.tc p {
	font-size: smaller;
	margin-top: 30px;
}

.heading {
	margin-top: 10px;
	color: black;
	font-size: large;
	margin-bottom: 10px;
}

.heading span {
	color: red;
}

.home-container .col-lg-5 {
	margin-right: 30px;
}

.home-container .tc {
	line-height: 25px;
	padding-left: 50px;
}

.home-container input[type="checkbox"] {
	width: 20px;
	height: 20px;
	float: left;
	/* cursor: pointer; */
	/* -webkit-appearance: none; */
	/* appearance: none; */
}

.row {
	margin: 50px 0px 0px 50px;
}
.about h1 {
	color: #28b04b;
	font-weight: bold;
}

select {
	width: 100%;
	border: 0px;
	background-color: transparent;
	border-bottom-width: 0.2px;
	border-color: #68696a;
	border-style: ridge;
	padding: 0px 0px 10px 0px;
}

.about p {
	line-height: 3rem;
	color: #68696a;
	font-size: large;
	font-weight: lighter;
	margin-top: 2rem;
}
.form input[type="email"],
.form input[type="text"],
.form input[type="phone"] {
	margin-bottom: 20px;
	/* margin-left: 20px; */
	padding: 0px;
	outline: none;
	font-weight: bold;
	border: 0px;
	border-bottom-width: 0.2px;
	border-color: #68696a;
	border-style: ridge;
	padding-bottom: 10px;
	width: 100%;
	background-color: transparent;
}

.button {
	background-color: #28b04b;
	border-radius: 50px;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px 25px;
	line-height: 20px;
	font-size: 20px;
	align-self: center;
	color: white;
	font-weight: bold;
	margin-top: 4rem;
	cursor: pointer;
}

.row2,
.row3 {
	margin: 0px;
}

.home-container .row3 {
	margin-top: 0px;
}

.row3 a {
	text-decoration: none;
}

.mandatory {
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	font-size: medium;
	padding-top: 40px;
	margin-left: 30px;
	padding-bottom: 10px;
}
.mandatory span {
	color: red;
}

.mandatory-small {
	display: none;
	text-align: left;
	margin-left: 40px;
	font-style: italic;
}

.mandatory-small span {
	color: red;
}

.more {
	color: #28b04b;
	float: right;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
}

#mr-or-mrs {
	width: 22%;
	position: absolute;
	/* border: 0px; */
	margin-top: 1px;
	z-index: 99;
}

.home-container #name {
	margin-left: 25%;
	width: 75%;
	padding-left: 5px;
}

@media (min-width: 1200px) {
	.heading {
		font-size: 1.2vw;
	}
}

@media (max-width: 48rem) {
	.home-container {
		background-size: 100% 100%;
		padding: 0px;
		margin: 0px 25px;
		text-align: left;
		min-height: fit-content;
	}
	.about {
		margin-top: 20px;
	}
	.home-container .row1 {
		padding: 0px;
		margin: 0px;
	}
	.home-container .row3 {
		padding: 0px 30px;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	.home-container .row3 .col-xs-12 {
		padding: 0px;
		margin: 0px;
	}
	.row {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.home-container .col-lg-5 {
		margin-right: 0px;
	}
	.home-container .row1 p {
		margin-top: 30px;
		font-size: 20px;
		line-height: 32px;
		font-weight: normal;
		margin-bottom: 50px;
	}
	.about h2 {
		font-size: 38px;
		text-align: left;
	}
	.about p {
		font-size: 18px;
		line-height: 29px;
		text-align: left;
	}
	.form input[type="email"],
	.form input[type="text"],
	.form input[type="phone"] {
		margin-left: 0px;
	}
	.mandatory-small {
		display: block;
		margin-left: 20px;
		font-size: 20px;
		font-weight: lighter;
		margin-bottom: 30px;
	}
	.mandatory {
		display: none;
	}
	.row2 {
		margin-top: 20px;
	}
	.button {
		width: 30vw;
		font-size: 15px;
		padding: 15px;
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.outer-button {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	#mr-or-mrs {
		width: 20%;
		z-index: 99;
	}
	.home-container #name {
		margin-left: 20%;
		width: 80%;
	}
}

@media (min-width: 48rem) and (max-width: 75rem) {
	.home-container {
		margin: 0px 20px;
		min-height: 90vh;
	}
	.home-container .row1 {
		padding: 0px;
		margin: 0px;
	}
	.home-container .row3 {
		margin-top: 0px;
		margin: 0px;
		padding: 0px;
	}
	.mandatory {
		display: none;
	}
	.mandatory-small {
		display: block;
	}
	.mandatory-small span {
		color: red;
	}
	.row2 {
		margin-top: 30px;
	}
	#mr-or-mrs {
		width: 10%;
		z-index: 99;
	}
	.home-container #name {
		margin-left: 10%;
		width: 90%;
	}
	.home-container .col-lg-5 {
		margin-right: 0px;
	}
}

@media (max-width: 48rem) {
	.home-container .row3 {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding: 0px;
	}
	.home-container .row3 .col-lg-3 {
		flex: 1;
		min-height: 5rem;
	}
	.home-container .row3 .col-lg-3 .button {
		font-size: small;
	}
	.home-container .col-lg-5 {
		margin-right: 0px;
	}
}

@media (max-width: 75rem) {
	.home-container .contest-banner {
		width: 100%;
		height: auto;
		margin-top: 0px;
		padding-top: 0px;
		margin-bottom: 30px;
		position: relative;
	}
}
