.servicesPartnerPage {
	display: flex;
	width: 100%;
}
.partner-main {
	/* min-height: 99vh; */
	padding: 0px 40px;
}

.servicesPartnerPage .form-in-desktop {
	display: block;
}

.servicesPartnerPage .form-in-mobile {
	display: none;
}

.partner-main .dataSection {
	margin-top: 50px;
}

.partner-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 0px 30px;
	margin: 60px 30px;
	background-color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.partner-form h3 {
	margin-bottom: 30px;
}

.partner-form .avail-now {
	background-color: #28b04b;
	padding: 10px 20px;
	width: fit-content;
	margin: 30px 0px;
	margin-top: 0px;
	color: white;
	cursor: pointer;
}

.partner-form input {
	border: 0px;
	border-bottom: 1px solid black;
	width: 100%;
	outline: none;
	margin-bottom: 30px;
}
.partner-form select {
	margin-bottom: 30px;
}
.partner-form input:focus {
	border: 0px;
	border-bottom: 1px solid black;
}

.partner-form .wrapper {
	margin-bottom: 30px;
}
.partner-form .wrapper input[type='phone'] {
	padding: 0;
}

.partner-main .discount-icon {
	width: 20px;
	height: 20px;
}

.partner-carousel .carousel-main {
	width: 40vw;
	/* margin-top: 30px; */
}

.partner-main .discountSection {
	display: flex;
	align-items: center;
	margin: 20px 0px;
}
.partner-main .discountSection span {
	color: red;
	font-size: 17px;
	margin-left: 5px;
}

.partner-main .partner-details {
	margin-top: 30px;
	flex-direction: column;
	padding: 0px 10px;
	margin-left: 40px;
}

.partner-main .descHeading {
	display: flex;
	flex: 1;
	align-items: center;
	/* width: 100%; */
}

.partner-main .descHeading h3 {
	font-size: 18px !important;
}

.partner-main .social-icon {
	width: 30px;
	height: 30px;
	margin-top: 30px;
	margin-right: 10px;
	opacity: 0.5;
}

.partner-main .description {
	padding-left: 20px;
}

.partner-main .star-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.partner-main .fade {
	opacity: 0;
	height: 0px;
	/* background-color: #e9f7ed; */
	transition: opacity 0s linear, height 0s linear;
}

.partner-main .active {
	opacity: 1;
	height: fit-content;
	padding: 10px;
	margin-bottom: 0px;
	transition: opacity 1s linear;
}

.partner-main-title {
	font-size: 20px;
	white-space: pre-wrap;
	margin-top: 30px;
}

.partner-main-title span {
	color: #28b04b;
	font-weight: bold;
}

.partner-main-partner-card {
	display: flex;
	width: 40vw;
	/* height: 300px; */
	margin-top: 30px;
	/* align-items: center; */
	/* justify-content: center; */
	background-color: white;
	/* margin-top: 30px; */
	border-radius: 16px;
}
.partner-main-partner-card .carousel-indicators .active {
	/* margin: 0px !important; */
	padding: 0px;
	width: 8px;
	height: 8px;
	border: 2px solid green;
	margin-bottom: 1px;
	z-index: auto;
	/* margin-right: 2px; */
	/* left: 47%; */
}
.partner-main-partner-card .carousel-main {
	margin: 0px;
	padding-top: 0px;
	width: 41vw;
	height: 210px;
	background-color: white;
}
.partner-main-partner-card .carousel-main .carousel-image {
	width: 40vw;
	height: 250px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.partner-main-partner-card .carousel-main .carousel-inner {
	background-color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	height: 250px;
	border-radius: 20px;
	margin-bottom: 60px;
}

.partner-main-partner-card .carousel-main .carousel-inner .active {
	display: flex;
	justify-content: center;
	align-items: center;
}

.partner-main-partner-card-partner {
	width: 220px;
	height: inherit;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 16px;
}

.partner-main-partner-card-offer {
	padding: 0px 15px;
	font-size: 20px;
	color: #28b04b;
}

.partner-main-partner-card-offer-title {
	font-size: 22px;
}

.partner-main-avail-now {
	/* text-align: center; */
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-top: 30px;
	padding-bottom: 18px;
}
.partner-main-avail-now span {
	/* width: fit-content; */
	background-color: #28b04b;
	font-weight: bold;
	color: white;
	padding: 15px 40px;
	border-radius: 60px;
}
.description ul {
	padding-left: 13px;
}
.partner-main .partner-section {
	height: 300px;
}

@media (max-width: 48rem) {
	.servicesPartnerPage {
		flex-direction: column;
	}
	.partner-main-partner-card-partner img,
	.partner-main-partner-card-partner {
		width: 100%;
		height: 350px;
	}
	.partner-main-partner-card-partner img {
		height: fit-content;
	}
	.partner-main-partner-card {
		width: 95vw;
		margin-top: 0px;
		height: fit-content;
	}
	.partner-main-partner-card img {
		width: 95vw;
		height: fit-content;
		margin-top: 0px;
	}
	.partner-main {
		padding: 0px 10px;
	}
	.partner-main-partner-card-offer {
		font-size: 16px;
	}
	.partner-main-title {
		font-size: medium;
		margin-bottom: 30px;
	}
	.partner-main .partner-section {
		height: fit-content;
		flex-direction: column;
	}
	.partner-main .partner-details {
		display: flex;
		/* justify-content: cen	ter; */
		width: 100vw;
		margin-top: 10px;
		margin-left: 0px;
		padding-left: 0px;
	}
	.partner-carousel .carousel-main {
		width: 100%;
	}
	.partner-carousel .carousel-main,
	.partner-main-partner-card,
	.partner-main-partner-card .carousel-main,
	.partner-main-partner-card .carousel-main .carousel-image {
		width: 100%;
	}
	.partner-main-partner-card .carousel-main {
		height: 180px;
	}
	.partner-main-partner-card .carousel-main .carousel-image {
		height: 200px;
		background-repeat: no-repeat;
		background-size: contain;
		/* background-position: center center; */
	}
	.partner-form {
		margin-top: 30px;
		margin: 0px;
	}
	.partner-main .dataSection {
		margin-top: 50px;
	}
	.servicesPartnerPage .form-in-desktop {
		display: none;
	}

	.servicesPartnerPage .form-in-mobile {
		display: block;
	}
	.partner-main .discountSection {
		margin: 10px 0px;
	}
	.partner-main-partner-card .carousel-indicators {
		bottom: 25px;
	}
	.partner-section .activeIndicators {
		margin-top: 50px;
	}
	.partner-main-partner-card .carousel-main .carousel-inner {
		height: 200px;
	}
}
